.slideshow {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
  margin: 50px auto 30px auto;
}

.slideshow-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Cible uniquement les flèches du Slideshow */
.slideshow .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* centre verticalement un élément absolument positionné */
  font-size: 48px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 2;
}

.slideshow .arrow.left {
  left: 25.96px;
}

.slideshow .arrow.right {
  right: 25.96px;
}

.slideshow .counter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); /* centre horizontalement un élément absolument positionné */
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 143%;
  letter-spacing: 0;
  text-align: center;
  vertical-align: bottom;
}

/* Responsive */
@media (max-width: 768px) {
  .slideshow {
    height: 255px;
    border-radius: 10px;
    margin: 20px auto;
  }

  .slideshow .arrow img {
    width: 24px;
    height: 24px;
  }

  .slideshow .arrow.left {
    left: 6px;
  }

  .slideshow .arrow.right {
    right: 6px;
  }

  .slideshow .counter {
    display: none; /* Masqué en version mobile */
  }
}
