/* Conteneur du texte aligné avec le slideshow */
.logement-content {
  width: 100%;
}

/* Style pour le titre du logement */
.logement-content h1 {
  color: #FF6060;
  font-size: 36px;
  margin: 0 0 10px 0;
}

/* Style pour la location */
.logement-content p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: left;
}

/* header infos + info hôte */
.logement-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.logement-info {
  text-align: left;
}

/* tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.tag {
  background-color: #ff6060;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 10px;
}

/* hôte et notation */
.host-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.host {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: right;
  line-height: 143%;
  white-space: pre-line; /* pour interpréter le retour à la ligne dans le texte */
  text-align: right;
}

.host p {
  color: #ff6060;
  font-size: 18px;
  margin: 0;
  text-align: right;
  line-height: 143%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

/* étoiles de notation */
.star-icon {
  width: 36px;
  height: 36px;
}

.rating {
  display: flex;
  gap: 10px;
  height: 36px;
}

.star {
  color: #e3e3e3;
}

.star.filled {
  color: #ff6060;
}

/* Conteneur des collapses */
.collapses {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 30px;
  margin-bottom: 50px; /* espace avec le footer en desktop */
}

.collapse-header {
  font-size: 18px;
  padding: 0px 20px;
}

.logement .collapse-header h3 {
  font-size: 18px;
  font-weight: bold;
}

.collapses > div {
  flex: 1;
}

/* Responsive mobile : collapses (taille et écriture à l'intérieur) + host rating + slideshow */
@media (max-width: 768px) {
  .logement-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .host-rating {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 20px;
  }

  .host-picture {
    width: 32px;
    height: 32px;
  }

  .host p {
    font-size: 12px;
    line-height: 143%;
  }

  .star-icon {
    width: 18px;
    height: 18px;
  }

  .rating {
    height: 18px;
    gap: 6px;
  }

  .collapses {
    flex-direction: column;
    width: 100%;
    max-width: none;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 27px;
  }

  .collapse-header h3 {
    font-size: 13px;
    font-weight: bold;
  }

  .collapse-content,
  .collapse-content p,
  .collapse-content li {
    font-size: 12px;
  }
}
