footer {
  width: 100%;  
  height: 209px; 
  background-color: #000;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* on aligne en haut, et on gère les marges */
  position: relative;
}

footer img {
  width: 122px;
  height: 39.44px;
  padding-top: 66px;
  padding-bottom: 28px;
}

footer p {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding-bottom: 29px;
}

/* responsive diminution taille texte et retravaille des espacements*/
@media (max-width: 768px) {
  footer img {
    padding-top: 66px;
    padding-bottom: 10px; /* diminution de l’espace entre le logo et le texte */
  }

  footer p {
    font-size: 12px;
    max-width: 130px; /* texte sur deux lignes */
    text-align: center;
    padding-bottom: 58px;
  }
}