/** Mettre le style global (couleurs primaires, classes génériques etc) ex : dans ce fichier là <p> en 12 px **/
/** Header (logo + lien de nav "Accueil" et "A propos") **/
/** Footer (bandeau noir avec logo blanc et "tout droits réservés) **/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
}

.main-container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
