.banner {
  height: 223px;
  border-radius: 25px;
  overflow: hidden;

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.9;
  backdrop-filter: brightness(40%);
}

.banner h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 24px;
  }

  .banner {
    height: 111px;
  }
}